*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* home start */
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(63, 91, 113, 0.7),rgba(63,91,113,0.7)), url(img/bg1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    padding:0.5%;
}
.nav-links{
    padding: 35px;
    height: 14vh;
    width: 100%;
    position: relative;
}
nav img{
    width: 250px;
    float: left;
    padding-left: 42px;
}
.nav-links ul{
    list-style: none;
    margin-top: 10px;
    right: 5%;
    position: absolute;
}
.nav-links ul li{
    list-style: none;
    float: left;
}
.nav-links ul li a{
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 5px;
    background: #fff;
    display: block;


}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 80px;
}
.text-box h1{
    font-size: 62px;
}
.text-box h5{
    font-size: 13px;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #404B5F;
    padding: 7px 14px;
    background: #404B5F;
    position: relative;

}
.text-box p{
    margin: 5px 0 40px;
    font-size: 14px;
    color: white;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #0045E1;
    background: #0045E1;
}

/* home end */


/* about start */

        /* about */



.hometous{
    text-align: center;
    margin: 100px auto auto auto;
}
.hometous h1{
    font-size: 50px;
    color: white;
    font-weight: 700;
}
.hometous p{
    color: white;
    padding: 10px;
    letter-spacing: 3px;
}
.about-text{

    float: left;
    width: 45%;
    height: 83vh;
    line-height: 25px;
}
.about-text h1{
    font-size: 45px;
    font-weight: 700;
    padding-top: 15px;
    line-height: 50px;
}
.about-text .para1{
    color: #0045E1;
}
.about-text .para2{
    color: #6A727C;
    padding-top: 50px;
    padding-bottom: 25px;
}
.para3{
    padding-top: 25px;
    color: #6A727C;
}
.about-text span{
    font-style: italic;
    color: #0045E1;
}
.about-image{
    float: right;
    width: 50%;

}
.about-image img{
    width: 100%;
}
.bgimage{
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(63, 91, 113, 0.7),rgba(63,91,113,0.7)), url(img/bg2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.container{
    padding: 100px;
}
.container .about-text .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #6A727C;
    border: 1px solid #6A727C;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.container .about-text .hero-btn:hover{
    border: 1px solid #0045E1;
    background: #0045E1;
    color: white;
}
        /* about end*/

        .divclear{
            clear: both;
        }

        /* team */

        .teammem{
            text-align: center;
            margin-top: 50px;
        }
        .teammem h1{
            padding-bottom: 15px;
            font-weight: 700;
            font-size: 30px;
        }
        .superman{
            border: 5px solid #0045E1;
            width: 50px;
            border-bottom: none;
            margin: auto;
        }
        .teammem p{
            padding-top: 20px;
            padding-bottom: 50px;
            color: #6A727C;
        }
        /* .firstmem, .secondmem, .thirdmem{ 
            float: left;
            border: 1px solid red;
            width: 400px;
            
        }
        */
        .firstmem{
            box-sizing:border-box;
            float:left;
            margin-top: 50px;
            margin-left: 110px;
            text-align: center;
        }
        .secondmem{
            box-sizing:border-box;
            float:left;
            margin-top: 50px;
            margin-left: 110px;
            text-align: center;
        }
        .thirdmem{
            box-sizing:border-box;
            float:left;
            margin-top: 50px;
            margin-left: 110px;
            text-align: center;
        }
        .firstmem, .secondmem, .thirdmem, img{
            width: 300px;
        }
        .firstmem h3{
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 25px;
            font-weight: 600;
        }
        .secondmem h3{
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 25px;
            font-weight: 600;
        }
        .thirdmem h3{
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 25px;
            font-weight: 600;
        }
        .firstmem p{
            color: #6A727C;
        }
        .secondmem p{
            color: #6A727C;
        }
        .thirdmem p{
            color: #6A727C;
        }

        /* member end */

        /* footer start */

        .footer{
            margin-top: 200px;
            background-color: #062A46;
            height: auto;
        }
        .us{
            width: 300px;
            color: white;
            padding-top: 100px;
            margin-left: 50px;
            border: 2px solid red;
        }
        .us h4{
            font-size: 20px;
            padding-bottom: 10px;
        }
        .us p{
            padding-top: 40px;
            padding-bottom: 30px;
        }
        .fb, .twitter, .insta, .globe{
            width: 40px;
            background-color: white;
            padding: 10px;
            border-radius: 50%;
            margin-bottom: 40px;
        }
        .batman{
            width: 90px;
            border: 2px solid white;
            border-bottom: none;
        }
        .link{
            width: 300px;
            color: white;
            padding-top: 100px;
            margin-left: 50px;
            border: 2px solid red;
        }
        .link h4{
            font-size: 20px;
            padding-bottom: 10px;
        }
        .link ul li{
            padding: 10px;
            list-style: none;
        }
        .link ul li a{
            text-decoration: none;
            color: white;
        }
        .wonder{
            width: 50px;
            border: 2px solid white;
            border-bottom: none;
        }
        .link ul li::before{
            content: "\29BF";
            padding-right: 7px;
        }